services:
  app:
    build: .
    container_name: daily-protein-app
    working_dir: /var/www/html
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: daily-protein-web
    ports:
      - "7002:80"
    volumes:
      - ./public:/var/www/html/public
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: daily-protein-db
    env_file:
      - .env.mysql
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
